.header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
}

.footer {
 
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

